files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/45compile_ts.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      if [ ! -f /usr/bin/node ]; then
        ln -s /opt/elasticbeanstalk/node-install/node-v6.2.2-linux-x64/bin/node /usr/bin/node
      fi

      if [ ! -f /usr/bin/npm ]; then
        ln -s /opt/elasticbeanstalk/node-install/node-v6.2.2-linux-x64/bin/npm /usr/bin/npm
      fi

      cd /var/app/current
      /var/app/current/node_modules/typescript/bin/tsc
      chown -R nodejs:nodejs  /var/app/current/dist
