files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd /var/app/current
      /usr/bin/composer.phar dump-autoload
      php artisan migrate --force >> storage/logs/laravel.log
